<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjw.ssm.web.dao.imp.IUserDao" >
	<update id="getUserInfoByID" parameterType="java.util.Map">
		update ssz_user set xd_pwd='${ssz_pwd}' where 1=1 ${con}
	</update>
	
	<insert id="insertUserAccount" parameterType="UserAccount">
		insert into user_account 
	</insert>
	<select id="getUserInfoByCon" parameterType="java.lang.String" resultType="UserAccount" >
		select * from user_account where 1=1 ${con}
	</select>
	
</mapper>